<!DOCTYPE html>
<html>
<body>
<h1 align = center>page 2</h1>
<h2><u>Collect Details</u></h2>

<form action="/result.html" method="post" >
  //INPUT BOXES
                 Name:<br>
  <input type="text" name="name" value="Enter Name">
  <br>
  <br>
                 Roll No.:<br>
  <input type="text" name="roll no" value="Enter Roll No.">
  <br><br>
  //CHECK BOXES
                Language: <br>
  <input type="radio" name="Lang" value="SQL" checked> SQL<br>
  <input type="radio" name="Lang" value="PYTHON"> Python<br>
  <br>
  Interest: <br>
  <input type="radio" name="Interest" value="Front End" checked> Front End<br>
  <input type="radio" name="Interest" value="Back end"> Back End<br>
  <br>
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called page3.html.</p>

</body>
</html>
